{% extends 'paginaMaestra.html' %}
{% load static %}

{% block titulo %} 
    <title>Inicio</title> 
{% endblock titulo %}

{% block header %}
   {{block.super}}
{% endblock header %}

{% block body %}
    <div class="container mt-5 py-4">
        <div class="contenedor_inicio"></div>
        <div class="contenido d-flex">
            <div class="texto_contenido">
                <h2 style="font-weight: bold;">Certificado de Honorabilidad</h2>
                <p style="text-align:justify;">El Certificado de Honorabilidad es un documento que acredita la integridad y reputación de una persona o entidad, esencial para establecer confianza en el ámbito laboral y comercial.</p>
                <p>Este certificado demuestra un historial limpio y es reconocido en diversas actividades profesionales. ¡Descubre cómo obtener el tuyo!</p>
                <button class="btn btn-info" style="width: 200px;" type="button" data-bs-toggle="modal" data-bs-target="#logeoModal">
                    Obtener certificado <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </button>
            </div>
            <div class="contenedor_img">
                <img src="{% static 'img/certificado.png' %}" alt="Certificado">
            </div>
        </div>
    </div>
{% endblock %}