{% extends 'paginaMaestra.html' %}
{% load static %}

{% block titulo %} 
    <title>Registro</title>
{% endblock titulo %}

{% block header2 %}
    {{block.super}}
{% endblock header2 %}

{% block body %}
    <div class="container mt-5 py-4" style="margin-left: 400px;">
        <div class="row text-center col-6" style="background-color: wheat;border-radius: 15px;">
            <h1 class="modal-title fs-5 mb-4" style="margin-left: 10px;"><b>FORMULARIO DE REGISTRO</b></h1>
            <div class="modal-body">
                <!-- Mostrar errores del formulario -->
                {% if registro.errors %}
                    <div class="alert alert-danger">
                        {{ registro.errors }}
                    </div>
                {% endif %}
                <form method="post" action="" style="text-align: start;width: 80%;margin-left:65px;font-weight: bold;">
                    {% csrf_token %}
                    <div class="row g-4">
                        <div class="col-12 col-md-6">
                            <div class="mb-5" >
                                <label for="{{registro.username.id_for_label}}">
                                    <i class="fa fa-user" aria-hidden="true"></i> {{registro.username.label}}:
                                </label><br>
                                {{registro.username}}
                            </div>
                            <div class="mb-5" style="font-weight: bold;">
                                <label for="{{registro.email.id_for_label}}">
                                    <i class="fa fa-envelope" aria-hidden="true"></i> {{registro.email.label}}:
                                </label><br>
                                {{registro.email}}
                            </div>
                            <div class="mb-5" style="font-weight: bold;">
                                <label for="{{registro.first_name.id_for_label}}">
                                    <i class="fa fa-user" aria-hidden="true"></i> {{registro.first_name.label}}:
                                </label><br>
                                {{registro.first_name}}
                            </div>
                            
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="mb-5" style="font-weight: bold;">
                                <label for="{{registro.last_name.id_for_label}}">
                                    <i class="fa fa-user" aria-hidden="true"></i> {{registro.last_name.label}}:
                                </label><br>
                                {{registro.last_name}}
                            </div>
                            <div class="mb-5" style="font-weight: bold;">
                                <label for="{{registro.password1.id_for_label}}">
                                    <i class="fa fa-unlock-alt" aria-hidden="true"></i> {{registro.password1.label}}:
                                </label><br>
                                {{registro.password1}}
                            </div>
                            <div class="mb-5" style="font-weight: bold;">
                                <label for="{{registro.password2.id_for_label}}">
                                    <i class="fa fa-unlock-alt" aria-hidden="true"></i> {{registro.password2.label}}:
                                </label><br>
                                {{registro.password2}}
                            </div>
                        </div>
                    </div>
                    <div style="display: flex; margin: 15px auto; justify-content: center;">
                        <button type="submit" class="btn btn-success">
                            <i class="fa fa-user-plus" aria-hidden="true"></i> Registrarse
                        </button>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <button type="reset" class="btn btn-danger">
                            <i class="fa fa-trash" aria-hidden="true"></i> Limpiar
                        </button>
                    </div>                
                </form>
            </div>
        </div>
    </div>
{% endblock %}

