{% extends 'paginaMaestra.html' %}
{% load static %}
{% block body %}
    <script src="{% static 'js/Ubicacion/ubicacion.js' %}" defer></script>
    <script src="{% static 'js/Sensor/sensor.js' %}" defer></script>
    
    <div class="container menu-container mt-5 py-4">
        <div class="row text-center">
                <div class="col">
                    <button class="btn btn-lg btn-primary mb-3" type="button" onclick="cargarUbicaciones();"><i class="fas fa-map-marked-alt"> Ubicacion</i></button>
                </div>

                <!-- FIJARSE COMO ESTA EL PRIMERO -->
                <div class="col">
                    <button class="btn btn-lg btn-primary mb-3" type="button" onclick="cargarSensores();" ><i class="fas fa-fax"> Sensores</i></button>                  
                    
                </div>
                <div class="col">
                    <button class="btn btn-lg btn-primary mb-3" type="button" ><i class="far fa-file-alt"> Reportes</i></button>
                </div>
        </div>
    </div>

    <div class="container" id="contenedor-tablas">
        <!-- aqui va la tabla  -->
    </div>
    



{% endblock %}