{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block titulo %} 
        <title>Sistema de Monitoreo de Suelo</title>
    {% endblock titulo %}

    <!--Importando CSS-->
    <link rel="stylesheet" href="{% static 'css/PaginaMaestra/paginaMaestra.css' %}">
    <link rel="stylesheet" href="{% static 'css/VistaNavegador/vistaNavegador.css' %}">

    <!--CSS MODAL-->
    <link rel="stylesheet" href="{% static 'css/VistaNavegador/inicio.css' %}">
   

    <!--Importando jQuery-->
    <script src="{% static 'plantilla/js/core/jquery-3.7.1.min.js' %}"></script>

    <!-- importando jquery validate -->
    <script src="{% static 'plantilla/js/plugin/jquery.validate/jquery.validate.min.js'%}"></script>

    <!-- Fonts and icons -->
    <script src="{% static 'plantilla/js/plugin/webfont/webfont.min.js' %}"></script>
    <script>
        WebFont.load({
            google: { families: ["Public Sans:300,400,500,600,700"] },
            custom: {
                families: [
                    "Font Awesome 5 Solid",
                    "Font Awesome 5 Regular",
                    "Font Awesome 5 Brands",
                    "simple-line-icons",
                ],
                urls: ["{% static 'plantilla/css/fonts.min.css' %}"],
            },
            active: function () {
                sessionStorage.fonts = true;
            },
        });
    </script>

    <!-- CSS Files -->
    <link rel="stylesheet" href="{% static 'plantilla/css/bootstrap.min.css' %}" />

</head>
<body>


    <!-- Encabezado sin usar <header> -->
        <div class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <!-- Logo o Título -->
                <h2 class="text-center text-white w-100">
                    SISTEMA DE MONITOREO DE SUELOS
                </h2>
            </div>
        </div>
        
        

    {% block body %}
        
    {% endblock %}
    <br><br><br><br><br><br><br><br><br>
    <!-- footer -->
    <footer class="footer mt-auto py-3 bg-dark text-white">
        <div class="container text-center">
            <h5>Proyecto realizado por:</h5>
            <ul class="list-inline">
                <li class="list-inline-item"><strong>Aimacaña David</strong></li>
                <li class="list-inline-item"><strong>Ante Romel</strong></li>
                <li class="list-inline-item"><strong>Armendaris Karen</strong></li>
                <li class="list-inline-item"><strong>Chiguano Victor</strong></li>
                <li class="list-inline-item"><strong>Guanoluisa Katherine</strong></li>
                <li class="list-inline-item"><strong>Porras Xavier</strong></li>
                <li class="list-inline-item"><strong>Quintanilla Narcisa</strong></li>
            </ul>
            <p class="mb-0">Orgullosamente hecho con 💻 y ☕</p>
        </div>
    </footer>

    <!-- MOSTRAR MENSAJES -->
    {% if messages %}
        {% for mensaje in messages %}
            {% if mensaje.tags == 'success' %}
                <script>
                    Swal.fire({
                    title: "CONFIRMACIÓN",
                    text: "{{mensaje}}",
                    icon: "success"
                    });
                </script>
            {% elif mensaje.tags == 'error' %}
                <script>
                    Swal.fire({
                    title: "ERROR",
                    text: "{{mensaje}}",
                    icon: "error"
                    });
                </script>
            {% endif %}
        {% endfor %}
    {% endif %}

    <!--JS ubicacion-->
    
    <!-- Bootstrap -->
    <script src="{% static 'plantilla/js/core/popper.min.js' %}"></script>
    <script src="{% static 'plantilla/js/core/bootstrap.min.js' %}"></script>
    
    <!-- Datatables -->
    <script src="{% static 'plantilla/js/plugin/datatables/datatables.min.js' %}"></script>

    <!--SWEETALERT-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    
    
</body>

</html>